/* overall style */
*{
    font-family: Calibri;
}
a {
    font-size: 18px;
    font-weight: bolder;
    padding: 20px;
    color: #BB0000; 
}
h2 {
    font-size: 36px;
    font-weight: normal;
}
p {
    font-size: 20px;
    margin: 10px;
    font-weight: lighter;
}

/* Buttons and inputs */
button {
    font-family: Calibri;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    filter: drop-shadow(2px 4px 2px gray);
    background-color: white;

}
.buttonRed1 {
    width: 300px;
    padding: 20px;
    margin: 20px; 
    background-color: #BB0000;
    color: white;
    font-size: 24px;  
}
.buttonRed2 {
    padding: 10px;
    background-color: #BB0000;
    color: white;
    font-size: 16px; 
    white-space: nowrap;
    display: inline-block;
}
.timeButton {
    width: 70px;
    padding: 10px;
    margin: 10px; 
    background-color: white;
    color: black;
    font-size: 18px;  
}
.arrowButton {
    width: 40px;
    padding: 5px;
    margin: 10px; 
    background-color: white;
    border: none;
    color: black;
    font-size: 18px; 
}
.noButton {
    width: 200px;
    height: 60px;
    margin: 30px;
    font-size: 24px; 
    background-color: white;
}
.yesButton {
    width: 300px;
    height: 60px;
    margin: 30px;
    margin-top: 60px;
    font-size: 24px;
    color: white;
    background-color: #BB0000;
}
.typeButton {
  width: 200px;
  height: 60px;
  margin: 30px;
  font-size: 24px; 
  background-color: #F0F0F0;
}
.bookButton {
  width: 300px;
  height: 70px;
  margin: 30px;
  font-weight: lighter;
  font-size: 24px;
  color: gray;
  background-color: #F0F0F0;
  filter: none;
}
.pullDown {
  padding: 4px;
  border: none;
  height: 40px;
  border-radius: 10px;
  font-size: 20px; 
  margin: 10px;
}
/* calander formatting */
th {
  padding: 20px;
  font-weight: normal;
  font-size:18px;
  color: gray;
}
.dayLabel {
  margin:0;
  text-align: left;
  font-size: 20px;
}
.dayTitle > th {
  font-weight: bold;
  color: black;
}
/* time selection */
.appointmentTimes {
  padding: 10px;
  background-color: #F0F0F0;
  border-radius: 10px;
  width: 500px;
  display: inline-block;    
}
.appointmentTimes li {
  display: inline-block;
  text-align: center;
  margin: 0px;
}

/* appointment display style */
.appointment {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  white-space: nowrap;
}
.bookedAppointment {
  background-color: #F0F0F0;
  border-radius: 10px;
  width: 475px;
  padding: 20px;
}
.selectedAppointment {
  background-color: #F0F0F0;
  border-radius: 10px;
  height: 150px;
  width: 520px;
  display: inline-block;
}

/* page layout */
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
/* Control the left side */
.left {
  left: 0;
  background-color: #F0F0F0;
}
/* Control the right side */
.right {
  right: 0;
  background-color: white;
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.inline {
  display: inline-block;
}
.centered img {
  width: 300px;
}
  
/* other */
.help {
  font-size: 14px;
}
#cart {
  color: white;
  background-color: #BB0000;
  transform: translate(40VW, 3VH);
}
#hidden {
  visibility: hidden;
}